@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{ /* root es para trabajar con la raiz del documento, para crear variables por ejemplo */
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}




body{
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 90%;
    margin: 0;
}

header{
    padding: 0;

}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: #000;
    font-size: 40px;
    padding-left: 20px;
}

.nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    height: 70px;
    background-color: #eee;
    font-size: 1.3em;
    position: sticky;
    top: 0;
}


header nav a{
    color: #000;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover{
    background-color: #9e68fa;
    padding: 10px;
    border-radius: 6px;
}


/* hero__main  - contenido principal */

.head__main{
    height: calc(100vh - 70px);
    display: flex; /* Con display flex los elementos o cajas se colocan una al lado de la otra */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.img__container{
    object-fit: cover; /* esto es para que la imagen se redimensione y se ajuste a su contenedor*/
    width: 48%;
    max-height: 600px;
}

.hero__textos{
    width: 40%;
    text-align: center;
    margin: auto;
}

.titulo{
    font-size: 56px;
    font-weight: 400; /* especifica el grueso de la letra */
    color: #000;
}

.titulo-active{
    color: #7342c9;
}


.texto{
    font-size: 24px;
    color: #000;
    text-shadow: var(--shadow) var(--color_shadow);
    margin: 15px 0;
}

.texto-active{
    color: #9e68fa;
}

.btn-contactame{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg,#7342c9 0%, #9972db 100%);
    text-decoration: none;
    color: var(--balck2);
    font-weight: 700; /* especifica el grueso de la letra */
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
}

/* breve informacion */

.info{
    height: 500px;
    background-color: #9972db;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__container{
    width: 60%;
    color: #fff;
    font-size: 1.4em;

}