@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{ /* root es para trabajar con la raiz del documento, para crear variables por ejemplo */
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}




body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 100px 0;
    height: auto;
}


/* Header */

.head{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    

}

.nav__head{
    height: 70px;
    border-bottom: 1px solid black;

}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit; /*Altura heredada*/
    padding: 0;


}

.logotipo{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: whitesmoke;
    font-size: 40px;
    padding-left: 20px;
}
input{
    display: none;
}

.menu__link{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 400; /* especifica el grueso de la letra */
    padding: 10px;
}

.menu__link:hover{
    border: 1px solid #9e68fa;
    padding: 10px;
    border-radius: 6px;
} 


/* hero__main  - contenido principal */

.head__main{
    height: 95vh;
    display: flex; /* Con display flex los elementos o cajas se colocan una al lado de la otra */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}


.img__container{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}

.head__texts{
    width: 40%;
}

.titulo{
    font-size: 56px;
    font-weight: 400; /* especifica el grueso de la letra */
    color: whitesmoke;
}

.titulo-active{
    color: #7342c9;
}


.texto{
    font-size: 24px;
    color: #edc2f6;
    text-shadow: var(--shadow) var(--color_shadow);
    margin: 15px 0;
}

.texto-active{
    color: #9e68fa;
}

.button{
    display: flex;
    width: 90%;
    justify-content: center;    
}

.btn-contactame{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg,#7342c9 0%, #260f4e 100%);
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700; /* especifica el grueso de la letra */
    border-radius: 6px;
}

/* breve informacion */

.info{
    width: 100%;
    max-width: 100%;
    height: 600px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(38,15,78,1) 36%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__container{
    width: 80%;
    color: #fff;
    font-size: 1.4em;

}

/* cards */
.adventages{
    background-color: #000000;
}

.subtitle{
    font-size: 42px;
    text-align: center;
    color: whitesmoke;
}


.copy__section{
    color: whitesmoke;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
    text-align: center;
}

.container__cards{
    display: flex; /* para que los elementos se pongan en la misma linea */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Para que en el caso de que no haya espacio en la linea se vayan para abajo */
    margin: 0 10px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background: rgb(30,13,64);
    background: linear-gradient(180deg, rgba(30,13,64,1) 0%, rgba(25,9,56,1) 41%, rgba(49,24,78,1) 79%);
    max-width: 320px;
    border-radius: 10px;
    margin: 5rem 0;

}
.card:hover{
    box-shadow: 0 0 6px #fff;
}

.card__img{
    width: 100%;
    height: 200px;
    text-align: center;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.card__text{
    text-align: left;
    width: 90%;
    margin-left: auto;
    padding-right: 25px;
    padding-top: 20px;
}

.card__title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 8px;
}

.card__copy{
    color: white;
    margin-bottom: 16px;
}


/*  how we work */

.how_we_work{
    background: rgb(30,13,64);
    background: linear-gradient(180deg, rgb(30, 13, 64) 0%, rgba(25,9,56,1) 41%, rgba(49,24,78,1) 79%);

}
.card_how-we-work{
    width: 320px;
    padding: 30px 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.279);


    border-radius: 10px;
    position: relative;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 60px;
    box-shadow: 0 0 6px #1a1b1f;
}

.card_how-we-work:hover{
    box-shadow: 0 0 6px #000;
}

.card_how-we-work .card__title{
    color: #7342c9;
}
.number__circle{
    background-color: rgba(34, 3, 87, 0.871);
    color: white;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

/*  ------- SECTION PROJECTS ----------- */

.projects{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(38,15,78,1) 36%, rgba(0,0,0,1) 100%);
}

.container__projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 50px;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
    width: 375px;
    height: 520px;
    border-radius: 3rem;
    position: relative;
    border: 1px solid white;
    box-shadow: 0 0 6px #fff;

}

.project__img{
    width: 90%;
    margin: 0 auto;

}

.img{
    width: 100%;
    height: 250px;
    border: .5px solid black;
    border-radius: 6px;
}
.projects .card__title{
    color: whitesmoke;
}

.project a{
    text-decoration: none;
}


/*  foooter */

.footer{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 38%, rgba(0,0,0,1) 78%);
    color: white;
    border-top: .5px solid #222;
}
.footer__container{
    width: 90%;
    display: flex;
    justify-content: space-between;

}


.footer__img{
    width: 35px;
    height: 35px;
}

.footer__copy{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    color: #bbb;
    border-top: 1px solid #555;

}

@media screen and (max-width:950px) {
    /* head main contenido principal */

    .titulo{
        font-size: 45px;
    }
    .texto{
        font-size: 22px;
    }

    .btn-contactame{
        padding: 15px 25px;
    }

    /* cards */
    .subtitle{
        font-size: 32px;
    }
    .copy__section{
        font-size: 18px;
    }
    .container__cards{
        justify-content: space-evenly;
    }

    /* proyectos */

    .project{
        margin: 25px auto;
    }
}


@media screen and (max-width:750px){

    .head__main{
        flex-direction: column-reverse;
    }

    .head__texts{
        width: 100%;
    }
    .titulo{
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    /* nav  */

    .nav__container{
        width: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.525);
        z-index: 100;
    }



    /* footer  */
    .footer__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact{
        margin: 50px;
        text-align: center;
    }
    .footer__social{
        margin-top: 50px;
    }

}

@media screen and (max-width:750px){
    .menu{
        position: fixed;
        height: 0;
        width: 0;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        clip-path: polygon(100% 0, 100% 0, 0 0, 0 0);
        transition: clip-path .3s ease-in;
    }

    .menu__link{
        clip-path: polygon(100% 0, 100% 0, 0 0, 0 0);
        transition: clip-path .6s ease-in;
        opacity: 0;
    }



    .nav__container input{
        display: none;
    }
    label {
        z-index: 101;
        margin-right: 25px;
        position: fixed;
        top: 5px;
        right: 20px;
        cursor: pointer;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
    }
    label > div {
        height: 5px;
        width: 35px;
        background: white;
        margin: 5px;
        transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        -moz-transition: transform 0.5s;
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
      }

    label:hover > div {
        background: #7a0bc0;
      }

    #toggle-nav:checked ~  .menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 1.7rem;
        top: 0px;
        height: 100vh;
        width: 100vw;
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 1%);
        background-color: #000;
        z-index: 1;
    } 

    #toggle-nav:checked ~ .menu .menu__link {
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 1%);
        opacity: 1;
    }


    /* cruz de salida del menu */

    #toggle-nav:checked ~ label > div:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 18px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
      
    #toggle-nav:checked ~ label > div:nth-child(2) {
        opacity: 0;
    }
      
    #toggle-nav:checked ~ label > div:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: -20px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
}